.what-we-do-main{
    text-align: center;
}

.wishup-box h2{
    margin-top: 43px;
    margin-bottom: 20px;
}

.wishup-box .description{
    margin-bottom: 20px;
}

.wishup-box .icon-box{
    text-align: center;
    width: 100%;
    height: 85px;
}

.wishup-box .what-we-do-card{
    padding: 35px 20px;
    box-shadow: 0 1px 0.5em rgba(51,58,67,.1);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 8px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}

.wishup-box .wishup-dont-tasks{
    padding: 35px 20px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 20px;
}

.wishup-box{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.wishup-box .task-description{
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.wishup-box .task-list-box {
    text-align: left;
}

.wishup-box .task-list-box h4{
    margin-left: 30px;
}

.wishup-box .what-we-do-heading{
    color: #6ee63e;
    font-weight: 600;
}

.wishup-box .what-we-do-sub-heading{
    font-size: 15px;
    font-weight: 600;
}

.wishup-box .what-we-do-link{
    margin-top: 15px;
}

.wishup-box .sub-what-we-do-text{
    margin-left: 4rem;
}

.wishup-box .left-sub-what-we-do{
    float: left;
}

.wishup-box .right-sub-what-we-do{
    float: right;
}

.wishup-box .what-we-do-sub-link{
    margin-right: 4rem;
}

.wishup-box sub-what-we-do-bar{
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 1px solid #e9e9e9;
}

@media only screen and (max-width: 792px ) {
    .wishup-box .what-we-do {
        padding: 1rem;
        padding-top: 3rem;
    }
    .wishup-box .what-we-do-sub-heading{
        margin-top: 24px;
    }
    .wishup-box .right-sub-what-we-do {
        float: left;
        margin-top: 1rem;
    }
    .wishup-box .left-sub-what-we-do {
        float: left;
        font-size: 12px;
    }
    .wishup-box .what-we-do-card {
        max-width: 80%;
        margin: 0 auto;
    }
}
