
.container{
    width: 100%;
}
.close-button{
    position: absolute;
    right: 48px;
    top: 21px;

    font-size: 21px;
    color: #575757;
}
.new-form .inputContainer {
    padding: 2rem 3.5rem;
    min-height: 300px;
}
.uContainer{
    top: 50%;
    position: fixed;
    width: 100%;
    max-width: 800px;
    transform: translate(-50%,-50%);
    left: 50%;
    border-radius: 8px;
    background: white;
    min-height: 490px;
    overflow: hidden;
}
.mainContainer{
    width: 100%;
    background-color: #fff;
    color: rgba(0,0,0,.8);
    /*box-shadow: 0 3px 12px rgba(0,0,0,.15);*/
    text-align: left;
    border-radius: 3px;
    margin: 0 auto;
}
.inputContainer {
    padding: 3rem 6rem;
}
.nav-container {
    padding: 3rem 2.7rem;
    background: #2a2d29;
    position: absolute;
    width: 100%;
    height: 828px;
    color: #fff;

}

.nav-container a{
margin-top: 10px;
    color: #ffffff;
}

.nav-container hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(239, 239, 239, 0.8);
}

.nav-container .link{
    margin-top: 10px;
}
.heading {
    color: inherit;
    font-weight: 800;
    margin: 0;
    padding: 0.20em 0 .20em;
    font-size: 18px !important;
    line-height: 1.25
}
.buttonStyle {
    border-width: 2px;
    box-shadow: 0 1px 12px rgba(0,0,0,.1);
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #5cb85c !important;
    border-color: #5cb85c;
    font-size: 16px !important;
    margin: .75em;
    width: auto;
    flex: 1 1;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 1em

}
.buttonText{
    min-height: 56px !important;
}
.spacingDiv {
    flex: 2 1;
    margin: .75em;
    margin-left: 0;
}
.buttonsContainer {
}

.button-cta{
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    position: relative !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px !important;
    background-color: #6fda44 !important;
    font-size: 14px !important;
    overflow: visible !important;
    text-decoration: none !important;
    -o-transition: all 0.1s ease-out 0s !important;
    border-width: 2px !important;
    margin: 0.75em 0px 0.75em 0.75em !important;

    padding: 15px 0px !important;
    border-radius: 50px !important;
    width: 164px !important;
    float: right;
}

.va-button{
    background: white !important;
    color: #333333 !important;
    border: 1px solid #333333;
    box-shadow: none !important;
    background-color: white;
}

.tag{
    -webkit-appearance: none !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-align: center !important;
    position: relative !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px !important;
    text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px !important;
    font-size: 13px !important;
    padding: 0px 1em !important;
    overflow: visible !important;
    outline: 0px !important;
    text-decoration: none !important;
    -o-transition: all 0.1s ease-out 0s !important;
    border-width: 2px !important;
    margin: 0.75em 0px 0.75em 0.75em !important;
    -ms-flex: 1 1 !important;
    flex: 1 1 !important;
    padding: 13px 20px !important;
    border-radius: 50px !important;
}


.login-container {
    position: fixed !important;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 10;
    top: 0;
}

/*Button*/


.login-box {
    background: #fff;
    padding: 20px;
    max-width: 480px;
    margin: 25vh auto;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
}

.login-box:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-box h2 {
    margin: 20px 0 20px;
    padding: 0;
    text-transform: uppercase;
    color: #4688F1;
}

.social-button {
    background-position: 25px 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    border-radius: 3px;
    margin: 10px auto;
    outline: rgb(255, 255, 255) none 0px;
    padding-left: 20%;
    transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#facebook-connect {
    background: rgb(255, 255, 255) url('https://eswarasai.com/projects/social-login/img/facebook.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
    border-color: rgb(60, 90, 154);
    background: rgb(60, 90, 154) url('https://eswarasai.com/projects/social-login/img/facebook-white.svg') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
}

#google-connect {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://eswarasai.com/projects/social-login/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;

}

#google-connect:hover {
    border-color: rgb(220, 74, 61);
    background: rgb(220, 74, 61) url('https://eswarasai.com/projects/social-login/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    text-decoration: none;
}

#google-connect span {
    box-sizing: border-box;
    color: rgb(248, 255, 247);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(220, 74, 61);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#google-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}


#linkedin-connect {
    border-color: rgb(0, 119, 181);
    color: #fff !important;
    background: rgb(0, 119, 181) url('https://eswarasai.com/projects/social-login/img/linkedin-white.svg') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
}

#linkedin-connect:hover {
    border-color: rgb(0, 119, 181);
    background: rgb(0, 119, 181) url('https://eswarasai.com/projects/social-login/img/linkedin-white.svg') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
    -webkit-transition: all .8s ease-out;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease-out;
    text-decoration: none;
}

#linkedin-connect span {
    box-sizing: border-box;
    color: rgb(255, 249, 247);
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    border: 0px none rgb(0, 119, 181);
    outline: rgb(255, 255, 255) none 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#linkedin-connect:hover span {
    color: #FFF;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.completed{
    background: #6fda44;
    color: white;
}

.form-logo-visible{
    display: none;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 762px) {
    .navContainer{
        display: none;
    }
    .button-cta {
        width: 98% !important;
        margin-top: 1rem;
    }
    .inputContainer {
        padding: 5rem 4rem 18rem;
    }
    .login-container {
        position: fixed !important;
        width: 100%;
        height: 100%;
        background: #fff !important;
        z-index: 10;
    }
    .mainContainer{
        box-shadow: 0 3px 12px rgba(0,0,0,0);
    }
    .form-logo-visible{
        display: block;
    }
    .uContainer {
        top: 44%;
        position: absolute;
        width: 100%;
        max-width: 800px;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-45%);
        left: 50%;
        border-radius: 8px;
    }


}

.buttonsContainer .buttton{
    width: 80%;
    margin-left: 10%;
}

.buttonsContainer button{
    font-size: 0;
    background: url(https://i.imgur.com/kOxYP5S.png);
    background-size: contain;
    height: 51px !important;
    border: 0 !important;
    background-repeat: no-repeat;
    width: 80%;
    box-shadow: none !important;
    margin-left: 10%;
    margin-bottom: 10px;
}
.buttonsContainer button div, .buttonsContainer button span{
display: none;
}
.buttonsContainer button:active{
    outline: none;
}
.or-text{
    text-align: left;
    padding-left: 10px;
    margin-top: 16px;
}

.buttonsContainer .metro{
    font-size: 0;
    background: url(https://i.imgur.com/9f9CX6L.png);
    background-size: contain;
    height: 53px;
    border: 0 !important;
    background-repeat: no-repeat;
    width: 80%;
    margin-left: 10%;
}

.error{
    color: red;
    padding-left: 10px;
}

.new-form .inputContainer{
    padding: 2rem 3.5rem;
}

.new-form{
    max-height: 400px;
    max-width: 370px;
}

.new-form .mainContainer{
    max-width: 310px;
    margin-top: 12%;
}

.new-form {
    max-height: 400px;
    max-width: 320px;
}
.new-form hr{
    display: none;
}

.new-form .newInput{
}

.new-form .mainInputContainer {
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 0.15em;
}

.new-form h2{
    margin-bottom: 20px;
}

.new-form h4{
    font-size: 13px;
    margin-left: 10px;
}

.new-form .inputText{
    width: 100%;
    font-size: 12px;
    height: 39px;
}

@media only screen and (max-width: 762px) {
    .mainContainer{
        margin-top: -10% !important;
    }
    .new-form{
        max-height: 400px;
        max-width: 400px;
    }
    .new-form .mainContainer {
        max-width: 380px;
        padding-bottom: 3rem;
    }

    .iti-mobile .intl-tel-input .country-list {
        max-height: 362px !important;
    }

}

.name-bar{
    height: 52px;
}

.label {
    display: inline;
     padding: 0;
}

.intl-tel-input input{
    width: 99%;
    font-size: 12px;
    height: 47px;
    padding: 11.6px 16px 11.4px;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: .1875em;
    background-color: #fff;
    color: rgba(0, 0, 0, .8);
    text-align: left;
    border-style: solid;
    border-width: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    margin: 0;
    outline: 0;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    padding: 0 70px !important;
    max-height: 50px;
}

.intl-tel-input{
    padding-left: 3px;
    max-height: 54px;
    width: 100%;
}
.intl-tel-input .flag-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 13px !important;
}

.intl-tel-input .form-control{
    max-height: 41px;
    outline: none;
    box-shadow: none;
    font-weight: 600;
    width: 100%;
}

.intl-tel-input .form-control:focus{
    border-bottom-width: 3px;
    border-bottom-color: #6fda44;
    color: #757575;
    outline: none;
    box-shadow: none;
}

.intl-tel-input .form-control::placeholder{
    border-bottom-width: 3px;
    border-bottom-color: #6fda44;
    color: #757575;
    outline: none;
    box-shadow: none;
}



/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.radio-group{
    padding-left: 12px;
    margin-top: 17px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-group:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-group input:checked ~ .checkmark {
    background-color: #6fda44;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-group input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-group .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5.3px;
    height: 5px;
    border-radius: 50%;
    background: white;
}

.new-form h4{
    font-weight: 600;
}

.country-list{
    max-width: 272px;
    font-size: 12px;
    margin-left: -10px !important;
}
.intl-tel-input .country-list .country-name, .intl-tel-input .country-list .flag-box {
    color: #484848;
}
.new-form .button-cta{
    width: 93% !important;
    max-width: 100%;
    float: left;
}
