.grey-section{
    background: #f6f4ef;
}

.raised-container{
    margin-top: -45px;
}

.faq-menu{
    background: white;
    border-radius: 7px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.09);

}

.raised-container .section-text{
    background: white;
    border-radius: 7px;
}

.faq-form{
    background: #6fda44;
    border-radius: 7px;
    text-align: center;
    padding: 24px 23px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.form-cta-button{
    padding: 15px;
    margin: 20px 0;
    background: white;
    color: #36df12;
    border-radius: 35px;
}
.menu-header{
    padding: 23px 22px 10px 22px;
    font-weight: 700;
    font-size: 16px;
}

.menu-item{
    padding: 11px 23px;
    font-size: 14px;
    color: #686868;
    font-weight: 600;
}

.active{
    border-left: 2px solid #6fda44;
    color: #6fda44;
}

.faq .raised-container-top .section-text{
    padding: 30px 40px;
}

.faq .col-sm-6{
    padding: 0;
    width: 52%;
}
.faq .col-sm-3-large{
    width: 27% !important;
}

.faq .col-sm-3{
    width: 21%;
}

.faq h2{
    font-size: 26px;
    font-weight: 600;
}

.grey-section .different-section{
    padding: 50px 20px;
    font-size: 15px;
    font-family: "Poppins";
    color: rgb(76, 75, 75);
    line-height: 1.6;
    border-radius: 7px;
}
.raised-container .different-section{
    font-size: 15px;
    font-family: "Poppins";
    color: rgb(76, 75, 75);
    line-height: 1.6;
    background: white;
    border-radius: 7px;
    padding: 20px 40px;
    padding-bottom: 70px;

}


.faq h4{
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0;
}


@media only screen and (max-width: 792px ) {

    .faq .col-sm-3, .faq  .col-sm-6{
        width: 99% !important;
        margin-left: .5%;
    }
    .raised-container .different-section {
        padding: 20px 24px;
    }
    .grey-section .different-section {
        padding: 20px 20px;
    }
    .faq .graphic-header h1 {
        font-weight: bold;
        line-height: 1.2;
        font-size: 30px;
        font-weight: 700;
        padding: 0 1rem;
    }
    .faq .graphic-header {
        height: 25rem;
    }
    .faq-form{
        padding: 64px 23px;
    }
    .form-cta-button{
        padding: 15px 3px;
        margin: 20px 0;
        background: white;
        color: #36df12;
        border-radius: 35px;
        max-width: 305px;
        margin: 020px auto;
    }
}
