.graphic-header{
    position: relative;
    height: 47rem;
    background-size: cover;
    background-position: center;
    color: white;
}
.opaque-mask{
    background-color: rgba(40, 40, 40, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.graphic-header-content{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.graphic-header h1{
    font-weight: bold;
    line-height: 1.2;
    font-size: 5rem;
    font-weight: 700;
}

.graphic-header .description{
    padding-top: 1rem;
}

.graphic-header h4{
    font-size: 2.4rem;
    font-weight: 400 !important;
}

.plan-card{
    border-radius: 14px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.09);
    text-align: center;
}

@media only screen and (max-width: 792px ) {


    .graphic-header h1 {
        font-weight: bold;
        line-height: 1.2;
        font-size: 4rem;
        font-weight: 700;
    }
    .graphic-header h4 {
        font-size: 1.8rem;
        font-weight: 400 ;
    }
    .graphic-header {
        position: relative;
        height: 34rem;
        background-size: cover;
        background-position: center;
        color: white;
    }

}
