.topnav-right {
    float: right;

}
.topnav {
    overflow: hidden;
    margin-top: 10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #151515;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

/* Add a color to the active/current link */
.topnav a.active {
    color: #151515;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}


.navbar-default {
    background: none;
    border: none;
    margin-top: 1.6rem;
    padding: 0 3rem;

}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 3rem;
    color: #2a2724;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 600;
    color: #2a2724;
}

.cta{
    color: #6fda44 !important;
}

.navbar-brand{
    padding: 10px 15px;
}
