.footer{
    padding: 2rem;
    padding-top: 6rem;
    padding-bottom: 5rem;
    background: #1f201f;
    color: white;
}

.footer-logo{
    font-size: 26px;
    font-weight: 600;
}

.footer-sub-link{
    color: #fff;
}

.social-icons img{
    margin: 13px 10px;
}

.footer-description{
    padding: 0 2rem 0 0;
    margin-top: 2rem;
    line-height: 1.7;
}

.footer-sub-heading{
    margin-top: 2rem;
}

.country{
    color: #6ee63e;
    font-weight: 600;
}

.footer-sub-heading{
    font-size: 15px;
    font-weight: 600;
}

.footer-link{
    margin-top: 15px;
}

.sub-footer-text{
    margin-left: 4rem;
}

.left-sub-footer{
    float: left;
}

.right-sub-footer{
    float: right;
}
.footer-sub-link{
    margin-right: 4rem;
}

.sub-footer-bar{
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 1px solid #e9e9e9;
}

@media only screen and (max-width: 792px ) {
    .footer {
        padding: 1rem;
        padding-top: 3rem;
    }
    .footer-sub-heading{
        margin-top: 24px;
    }
    .right-sub-footer {
        float: left;
        margin-top: 1rem;
    }
    .left-sub-footer {
        float: left;
        font-size: 12px;
    }
}



.subscribe_bar {
    width: 300px;
    color: black;
    height: 42px;
    background: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.subscribe {
    background: transparent;
    position: absolute;
    height: 100%;
    width: 200px;
    padding-left: 10px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 42px;
    vertical-align: middle;
    z-index: 10;
    outline: none;
    box-shadow: none;
    border: 0;
}

.subscribe_button:hover{
    background-color: #5fbc3b;
    cursor:pointer;
}

.subscribe_button {
    background: #6fda44;
    position: absolute;
    top: -53px;
    left: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 150px;
    width: 100px;
    text-align: center;
    line-height: 150px;
    vertical-align: middle;
    color: white;
}

