
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}


.topnav{
  text-align: center;
  padding-top: 20px;
}

.login {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
}

.questions {
  position: relative;
  margin: 30px auto;
  padding: 20px 20px 20px;
  width: 510px;
  background: white;
  border-radius: 3px;
}

.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
}

.login h1 {
  margin: 0px -20px 21px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: #5d5d5d;
  text-align: center;
  text-shadow: 0 1px white;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: 0 1px whitesmoke;
}

.login p {
  margin: 20px 0 0;
}

.login p:first-child {
  margin-top: 0;
}

.login input[type=text], .login input[type=password] {
  width: 278px;
}

.login p.remember_me {
  float: left;
  margin-left: 20px;
  line-height: 42px;
}

.login p.remember_me label {
  font-size: 12px;
  color: #9EACB2;
  cursor: pointer;
}

.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}

.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;
}

.login-help a {
  color: #cce7fa;
  text-decoration: none;
}

.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #9EACB2 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #B6BEC1;
  font-size: 13px;
}

input {
  font-size: 12px;
}

input[type=text], input[type=password] {
  margin: 4px;
  padding: 0 10px;
  width: 200px;
  height: 46px;
  color: #404040;
  background: white;
  border: 2px solid;
  border-color: #9EACB2;
  border-radius: 4px;

}

input[type=text]:focus, input[type=password]:focus {
  border-color: #6EC3C7;
  outline-color: #6EC3C7;
  outline-offset: 2;
}

.submit-button {
  padding: 0 40px;
  height: 46px;
  font-size: 12px;
  color: #fff;
  text-shadow: none;
  background: #00B87F;
  float: right;
  border: 1px solid;
  border-color: #07A06D;
  border-radius: 4px;
}

.submit-button:active {
  background: #07A06D;
}

.submit-button:hover {
  background: #07A06D;
}


.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
.question{
  margin-top: 4rem;
}

h5{
  margin-top: 4rem;
}

.Info{
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  font-weight: bold;
  color: #f1305c;
}
.timer{
  color: #f1305c;
}

.questions{
  width: 500px;
  max-width: 100%;
}
