body {
  margin: 0;
  padding: 0;
  font-family: Proxima Nova, proxima-nova, Helvetica, Arial, sans-serif;
}
strong, h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova Th";
  font-weight: 800;
}
article p {
  font-size: 1.25em;
}
p {
  line-height: 1.5;
  padding: .5em 0;
  color: inherit;
}
hr{
  border: 0;
  background: rgba(0,0,0,.1);
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}