.wishup-container{
  padding: 0 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

body, html{
  font-family: "Poppins";
}

.login-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: 10;
}
